@import "tailwindcss";


@media (min-width: 768px) and (max-width: 991px) {
    .container {
        padding-left: 10rem;
        padding-right: 10rem;
    }
}

 .container {
        padding-left: 10rem;
        padding-right: 10rem;
}